<div class="container mt-5">
    <div class="c1 ">
        <h1>Top 10 Builders in Mumbai</h1>
    </div>
</div>

<div class="container">
    <!-- <div class="row mt-5" style="background-color: pink;">
        <div class="col-sm-4">
           <img  src="../assets/Images/mumbai1.jpg" class="w-100 h-50" alt="...">
        </div>
        <div class="col-sm-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis unde 
                suscipit quasi itaque exercitationem quis commodi voluptatem, 
                corporis reprehenderit minima cupiditate dignissimos obcaecati! Delectus!</p>
        </div>
    </div> -->
    <div class="row mt-5">
        <div class="col-sm-4">
           <img src="../assets/Images/mumbai2.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="col-sm-8">
            <h2>Godrej Properties</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis unde 
                suscipit quasi itaque exercitationem quis commodi voluptatem, 
                corporis reprehenderit minima cupiditate dignissimos obcaecati! Delectus!</p>
            <p>Address: – Unit No. 5C, 5th Floor, Godrej One, Pirojshanagar, Vikhroli East, Mumbai – 400 079.</p>
            <a href=" https://www.godrejproperties.com/" class="btn btn-primary">Go To Website</a>
        </div>

    </div>
    <div class="row  mt-5">
        <div class="col-sm-4">
           <img src="../assets/Images/mumbai3.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="col-sm-8">
            <h2>L&T Realty </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis unde 
                suscipit quasi itaque exercitationem quis commodi voluptatem, 
                corporis reprehenderit minima cupiditate dignissimos obcaecati! Delectus!</p>
        <p>Address: – Emerald Isle Sales Center, L&T Business Park, Tower A, Gate No. 5, Off JVLR, Saki Vihar Road,
            Powai, Mumbai, India.</p>
            <a href="https://www.lntrealty.com/" class="btn btn-primary">Go To Website</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-4">
           <img src="../assets/Images/mumbai4.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="col-sm-8">
            <h2>Hiranandani Group</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis unde 
                suscipit quasi itaque exercitationem quis commodi voluptatem, 
                corporis reprehenderit minima cupiditate dignissimos obcaecati! Delectus!</p>
            <p>Address: – Olympia, Central Avenue, Hiranandani Business Park, Powai, Mumbai – 400076</p>
            <a href="https://www.hiranandani.com/" class="btn btn-primary">Go To Website</a>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-sm-4">
           <img src="../assets/Images/mumbai5.jpg"  class="d-block w-100 h-100" alt="...">
        </div>
        <div class="col-sm-8">
            <h2>Dosti-Friends For Life</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis unde 
                suscipit quasi itaque exercitationem quis commodi voluptatem, 
                corporis reprehenderit minima cupiditate dignissimos obcaecati! Delectus!</p>
        <p>Address: – Lawrence & Mayo House, 1st Floor, 276, Dr. D. N. Road, Fort, Mumbai – 400 001.</p>
        <a href="https://www.dostirealty.com/" class="btn btn-primary">Go To Website</a>
        </div>
    </div>
     <div class="row mt-5">
        <div class="col-sm-4">
           <img  src="../assets/Images/mumbai1.jpg" class="w-100 h-50" alt="...">
        </div>
        <div class="col-sm-8">
            <h2>Lodha Group</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis unde 
                suscipit quasi itaque exercitationem quis commodi voluptatem, 
                corporis reprehenderit minima cupiditate dignissimos obcaecati! Delectus!</p>
            <p>Address: – Lodha Excellus Apollo Mills Compound, NM Joshi Marg,
                 Mahalakshmi, Mumbai, 
                Maharashtra 400011</p>
                <a href=" https://www.lodhagroup.in/" class="btn btn-primary">Go To Website</a>
        </div>
    </div>
</div>


