
<div class="container mt-5">
    
    <div class="projects">
    
        <h1>Extended Gallery with Project Overview</h1>

</div>

<p>Also known as the hybrid form of construction project portfolio that brings the best of both the above mentioned portfolios to communicate in a much clear way the diverse service offerings that a firm has. This kind of portfolios use high resolution images along with sufficient details about the project in pictures to satisfy almost any kind of client. The firms that have prepared this kind of construction project portfolios have had opportunities alongside different parties involved in a construction project.They have successfully accomplished tasks related to architecture, commercial renovation, commercial construction, etc, displayed in their portfolios. The imagery patterns along with detailed reports about the project displayed in pictures comprise the portfolios to appeal to the prospective clients and their demands by providing key features and details about the project. These kinds of portfolios are easily planned as per the results of SEOs.</p>

<img [src]="image" alt="" class="mx-auto d-block">

</div>



